<a href="/">Home</a> | 
<a href="/robots">Robots list</a><br/>

<div class="side-image"><img src="<%= @robot.avatar %>"></div>

<div class="content">
  <h1><%= @robot.name %></h1>
  <p><%= @robot.city.capitalize %>, <%= @robot.state.upcase %></p>
  <p><%= @robot.sign %></p>
</div>
